*,*::after,*::after{

padding: 0;
margin: 0;
box-sizing: border-box;
}

/* html{

font-size: 62.5%;


} */

@font-face {

font-family: "Vazir-Medium";
font-style: normal;
src: url(/font/vazir-font-v16.1.0/Vazir-Medium.woff2) format("woff2");

}
    
body{

font-family: "Vazir-Medium";
    
    
}   


h1{

margin-top: 2rem;
margin-right: 2rem;

}


.app-contyiner{

margin-top: 5rem;
margin-left: 2rem;
margin-right: 2rem;
}


.panel-content{
/* background-color: gray; */
display: grid;
grid-template-columns: 1fr;
gap: 1rem;
height: 599px;
}

.item{
margin-top: 1rem;


} 




@media screen and (min-width:768px){

.panel-content{

grid-template-columns: 1fr 1fr;


}
    
}

@media screen and (min-width:1024px){

.app-panel{

grid-template-columns: 200px 1fr;


}

.panel-content{
    
grid-template-columns: 1fr 1fr 1fr;
    
    
}
        
}


.intro-1{

display: flex;
justify-content: space-between;

}

.txt-logo{

background-color: rgb(126 190 220);
width: 2.2rem;
height: 2.5rem;
border-radius: 0.3rem;
margin-left:0.7rem;
}

.text-num1{


margin-bottom: 1rem;
font-size: 1rem;
color: rgb(74, 74, 191);

}

.tarikh{

color: gray;
font-size: 0.9rem;

}



.text-gray{

margin-bottom: 1rem;
color: gray;
font-size: 0.8rem;

}


.text-bold{

display: block;
font-size: 1.4rem;


}

.text-name-1{


display: block;
margin-top: 7rem;
font-size: 1.4rem;
}


.intro-2{

display: flex;
justify-content: space-between;
    
}




.intro-3{

display: flex;
justify-content: space-between;
    
}
    


.intro-4{

display: flex;
justify-content: space-between;
    
}
    


.intro-5{

display: flex;
justify-content: space-between;
    
}
    


.intro-6{

display: flex;
justify-content: space-between;
    
}
    



.the-end-1{

display: flex;
justify-content: space-between;


}

.btn{

background-color: rgb(4 147 71 / 92%);
width: 14rem;
margin-top: 89px;
margin-left: 10px;
padding: 23px;
border-radius: 6px;
font-size: 1.4rem;
color: white;

}


.the-end-2{

display: flex;
justify-content: space-between;


}



.the-end-3{

display: flex;
justify-content: space-between;

}

.the-end-4{

display: flex;
justify-content: space-between;


}


.the-end-6{

display: flex;
justify-content: space-between;


}



